@model CustomerViewModel

<br />


<form asp-controller="Home" asp-action="PageWithQuery" method="get">
    <div class="input-group">
        <select name="searchby" class="selectpicker" data-width="5%" data-style="btn-success">
            <option value="Id">Id</option>
            <option value="Name">Name</option>
        </select>
        <input type="text" class="form-control" name="searchItem" placeholder="Search.." id="search_key" value="" style="max-width: 100%;">
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </span>
    </div>
</form>


<br />

<!-- Use Json Serialize to page-query-options -->
<pagination total-items="@Model.TotalItems"
            item-per-page="@Model.ItemPerPage"
            current-page="@Model.Page"
            page-action="PageWithQuery"
            page-query-options="@Model.QueryOptions">
</pagination>

<div class="bg-primary panel-body">
    <h4>Customers</h4>
    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
</div>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                Id
                @if (Model.IsSortDescending)
                {
                    <a href="@Url.Action("PageWithQuery",
                                 new
                                 {
                                     page = Model.Page,
                                     searchby = Model.SearchBy,
                                     searchItem = Model.SearchItem,
                                     sortby = "Id",
                                     IsSortDescending = false
                                 })">

                        <span class="glyphicon glyphicon-sort-by-alphabet-alt" aria-hidden="true"></span>





                    </a>
                }
                else
                {
                    <a href="@Url.Action("PageWithQuery",
            new
            {
                page = Model.Page,
                searchby = Model.SearchBy,
                searchItem = Model.SearchItem,
                sortby = "Id",
                IsSortDescending = true
            })">
                        <span class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true"></span>

                    </a>

                }
            </th>
            <th>
                Name
                @if (Model.IsSortDescending)
                {
                    <a href="@Url.Action("PageWithQuery",
                              new
                              {
                                  page = Model.Page,
                                  sortby = "Name",
                                  IsSortDescending = false,
                                  searchby = Model.SearchBy,
                                  searchItem = Model.SearchItem
                              })">
                        <span class="glyphicon glyphicon-sort-by-alphabet-alt" aria-hidden="true"></span>
                    </a>
                }
                else
                {
                    <a href="@Url.Action("PageWithQuery", new
                        {
                            page = Model.Page,
                            sortby = "Name",
                            IsSortDescending = true,
                            searchby = Model.SearchBy,
                            searchItem = Model.SearchItem
                        })">
                        <span class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true"></span>
                    </a>
                }
            </th>
        </tr>
    </thead>

    <tbody>
        @if (Model.TotalItems == 0)
        {
            <tr>
                <td>
                    <h1>
                        No Customer Found
                    </h1>
                </td>
            </tr>
        }
        else
        {
            @foreach (var customer in Model.Items)
            {
                <tr>
                    <td>
                        @customer.Id
                    </td>
                    <td> @customer.Name </td>
                </tr>
            }
        }
    </tbody>
</table>

<a href="@Url.Action("PageWithQuery")" class="btn btn-primary">Show All Users</a>


<!-- Use Json format string with razor view directly -->
<pagination total-items="@Model.TotalItems"
            item-per-page="@Model.ItemPerPage"
            current-page="@Model.Page"
            page-action="PageWithQuery"
            page-query-options='{
                SearchItem:"@Model.SearchItem" ,
                searchby:"@Model.SearchBy",
                sortby:"@Model.SortBy",
                issortdescending:"@Model.IsSortDescending"}'>
</pagination>

<!-- Pagination with attribute for each one-->
<pagination total-items="@Model.TotalItems"
            item-per-page="@Model.ItemPerPage"
            current-page="@Model.Page"
            page-action="PageWithQuery"
            attrs-page-first='{
                class:"first page "
            }'
            attrs-page-last='{
                class:"last page"
            }'
            attrs-page-previous='{
                class:"previous page"
            }'
            attrs-page-next='{
                class:"next page"
            }'
            attrs-page-first-link='{
                style:"color:red;"
            }'
            attrs-page-last-link='{
                style:"color:gray;"
            }'
            attrs-page-previous-link='{
                style:"color:pink;"
            }'
            attrs-page-next-link='{
                style:"color:purple;"
            }'
            attrs-page-first-icon='{
                style:"color:blue;"
            }'
            attrs-page-last-icon='{
                style:"color:green;"
            }'
            attrs-page-previous-icon='{
                style:"color:black;"
            }'
            attrs-page-next-icon='{
                style:"color:white;"
            }'
            attrs-page-between='{
                Id:"between icon"
            }'
            attrs-page-between-icon='{
                style:"color:red;"
            }'
            attrs-page-link='{
                style:"color:yellow;",
                Id:"link*"
            }'

            attrs-page-icon='{
                style:"color:green;"
            }'
            page-query-options='{
                SearchItem:"@Model.SearchItem" ,
                searchby:"@Model.SearchBy",
                sortby:"@Model.SortBy",
                issortdescending:"@Model.IsSortDescending"}'>
</pagination>
